@model AdminViewModel
@{
	ViewData["Title"] = "Panel Administratora";
}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Wydział</th>
			<th class="text-right">Nazwa</th>
			<th class="text-right">Rola</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.UsersList)
		{
			<tr>
				<td class="text-center">@line.Email</td>
				<td class="text-right">@line.Department</td>
				<td class="text-right">@line.UserName</td>
				<td class="text-right"></td>
				<td class="text-center"><a class="glyphicon glyphicon-edit text-danger remove" onclick="return confirm('Czy na pewno chcesz zakończyć ocene tej recenzji?\n @line.UserName')"></a></td>
				<td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="Admin" asp-action="Delete" asp-route-id="@line.Email" onclick="return confirm('Czy na pewno chcesz zakończyć ocene tej recenzji?\n @line.UserName')"></a></td>
			</tr>
		}
	</tbody>
</table>