@model AdminViewModel
@{
	ViewData["Title"] = "Panel Administratora";
}
<p>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#datepick" aria-expanded="false" aria-controls="datepick">Raporty Pracownicze</button>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#requestform" aria-expanded="false" aria-controls="requestform">Zgłoszenia</button>
</p>
<div class="collapse multi-collapse col-lg-3" id="datepick">
	<form asp-controller="Form" asp-action="UpdateForm" method="post" class="form-horizontal" role="form">
		<label>Data Początkowa</label>
		<input class="form-control" name="datestart" type="date" value="@ViewData["datastart"]" />
		<label>Data Końcowa</label>
		<input class="form-control" name="datefinish" type="date" value="@ViewData["datefinish"]" />
		<input type="submit" value="Wyświetl" class="btn btn-info" asp-action="Report" asp-route-datestart="@ViewData["datastart"]" asp-route-datefinish="@ViewData["datefinish"]" />
	</form>
</div>
<div class="collapse multi-collapse" id="requestform">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Imię i nazwisko</th>
				<th>Wydział</th>
				<th>Email</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var line in Model.RequestForms)
			{
			<tr>
				<td class="text-center">@line.Fullname</td>
				<td class="text-right">@line.Department</td>
				<td class="text-right">@line.Email</td>
				<td class="text-center"><a class="glyphicon glyphicon-plus text-danger remove" asp-controller="Account" asp-action="Register" asp-route-email="@line.Email" asp-route-name="@line.Fullname" asp-route-department="@line.Department" asp-route-title="@line.Title"></a></td>
				<td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="Admin" asp-action="DeleteRequest" asp-route-email="@line.Email" onclick="return confirm('Czy na pewno chcesz usunąć to zgłoszenie?')"></a></td>
			</tr>
			}
		</tbody>
	</table>
</div>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Email</th>
			<th>Wydział</th>
			<th class="text-right">Imię i nazwisko</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.UsersList)
		{
			<tr>
				<td class="text-center">@line.Email</td>
				<td class="text-right">@line.Department</td>
				<td class="text-right">@line.Fullname</td>
				<td class="text-center"><a class="glyphicon glyphicon-edit text-danger remove" asp-controller="Admin" asp-action="Reset" asp-route-id="@line.Email"  onclick="return confirm('Czy na pewno chcesz zresetować hasło tego użytkownika?\n @line.Fullname')"></a></td>
				<td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="Admin" asp-action="Delete" asp-route-id="@line.Email" onclick="return confirm('Czy na pewno chcesz usunąć użytkownika?\n @line.Fullname')"></a></td>
			</tr>
		}
	</tbody>
</table>