@model ReportViewModel
@{
	ViewData["Title"] = "Raporty";
}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Opiekun</th>
			<th>Recenzent</th>
			<th>Student</th>
			<th>Ocena</th>
			<th>Data Zakończenia</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.Reports)
		{
			<tr>
				<td>@line.Guardian</td>
				<td>@line.Reviewer</td>
				<td>@line.Student</td>
				<td>@line.Grade</td>
				<td>@line.Date</td>
			</tr>
		}
	</tbody>
</table>