@model ListViewModel
@{
	ViewData["Title"] = "Formularze";
}
<p>
	<a class="btn btn-danger" data-toggle="collapse" href="#Archive" role="button" aria-expanded="false" aria-controls="Archive">Archiwa</a>
</p>
<table class="table table-bordered table-striped table-hover" table id="example">
	<thead>
		<tr>
			<th><a asp-route-sortOrder="@ViewData["NameSortParm"]">Student</a></th>
			<th><a asp-route-sortOrder="@ViewData["TitleSortParm"]">Tytuł recenzji</a></th>
			<th class="text-right"><a asp-route-sortOrder="@ViewData["TypeSortParm"]">Typ</a></th>
			<th class="text-right"><a asp-route-sortOrder="@ViewData["StatusSortParm"]">Status</a></th>
			<th class="text-right"><a asp-route-sortOrder="@ViewData["DateSortParm"]">Data Utworzenia</a></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.Forms)
		{
			<tr>
				<td class="text-center">@line.StudentMail - @line.StudentName</td>
				<td class="text-right">@line.Title</td>
				<td class="text-right">@line.ReviewType</td>
				<td class="text-right">@if (line.QuestionsGuardian.Mail.Equals(Model.mail))
				{ @line.QuestionsGuardian.Status }
				else { @line.Questions.Status }</td>
				<td class="text-right">@line.DateTimeStart</td>
				<td class="text-center"><a class="glyphicon glyphicon-edit text-danger remove" asp-controller="Form" asp-action="Edit" asp-route-id="@line.FormURL"></a></td>
				<td class="text-center"><a class="glyphicon glyphicon-ok text-danger remove" onclick="return confirm('Czy na pewno chcesz zakończyć ocene tej recenzji?\n @line.Title')"></a></td>
			</tr>
		}
	</tbody>
</table>

<div class="collapse multi-collapse" id="Archive">
	<table class="table table-bordered table-striped" table id="example">
		<thead>
			<tr>
				<th><a asp-route-sortOrder="@ViewData["NameSortParm"]">Student</a></th>
				<th><a asp-route-sortOrder="@ViewData["TitleSortParm"]">Tytuł recenzji</a></th>
				<th class="text-right"><a asp-route-sortOrder="@ViewData["TypeSortParm"]">Typ</a></th>
				<th class="text-right"><a asp-route-sortOrder="@ViewData["DateSortParm"]">Data Utworzenia</a></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var line in Model.ArchiveForms)
			{
				<tr>
					<td class="text-center">@line.StudentMail - @line.StudentName</td>
					<td class="text-right col-md-5">@line.Title</td>
					<td class="text-right">@line.ReviewType</td>
					<td class="text-right">@line.DateTimeFinish</td>
					<td class="text-center"><a class="glyphicon glyphicon-eye-open text-danger remove" asp-controller="Form" asp-action="Edit" asp-route-id="@line.FormURL"></a></td>
				</tr>
			}
		</tbody>
	</table>
</div>