@model FormDetailViewModel

<div class="form-group">
	<label asp-for="Form.FormURL" class="control-label disabled"></label>
	<input asp-for="Form.FormURL" class="form-control" readonly />
</div>
<div class="form-group">
	<label asp-for="Form.Title" class="control-label disabled"></label>
	<input asp-for="Form.Title" class="form-control" readonly />
</div>
<hr />

<p>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Guardian" aria-expanded="false" aria-controls="Guardian">Formularz</button>
</p>
<div class="collapse multi-collapse" id="Guardian">
	<div class="form-group">
		<label asp-for="Form.Questions.Question1" class="control-label">Mail</label>
		<input asp-for="Form.GuardianName" class="form-control" readonly>
	</div>
	<form asp-controller="Form" asp-action="UpdateForm" method="post" class="form-horizontal" role="form">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Pytanie</th>
					<th>W Pełni</th>
					<th>Częściowo</th>
					<th>Nie</th>
					<th>Nie dotyczy</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-left">@Model.QuestionList.Question1</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question1" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question2</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question2" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question3</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question3" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question4</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question4" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question5</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question5" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question6</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question6" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question7</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question7" disabled></td>
					}
				</tr>
				<tr>
					<td class="text-left">@Model.QuestionList.Question8</td>
					@foreach (var item in Model.Answers)
					{
						<td class="text-center"><input type="radio" value="@item.Answer" asp-for="Form.QuestionsGuardian.Question8" disabled></td>
					}
				</tr>
			</tbody>
		</table>
		<div class="form-group col-md-12">
			<label asp-for="Form.Questions.LongReview" class="control-label">@Model.QuestionList.LongReview</label>
			<textarea asp-for="Form.QuestionsGuardian.LongReview" class="form-control" readonly></textarea>
			<span asp-validation-for="Form.Questions.LongReview" class="text-danger"></span>
		</div>
		<div class="form-group col-md-12">
			<label asp-for="Form.QuestionsGuardian.Grade" class="control-label">@Model.QuestionList.Grade</label>
			<input asp-for="Form.QuestionsGuardian.Grade" class="form-control" id="g" readonly>
		</div>
	</form>
</div>
