@model FormDetailViewModel

<div class="form-group">
	<label asp-for="Form.FormURL" class="control-label disabled"></label>
	<input asp-for="Form.FormURL" class="form-control" readonly />
</div>
<div class="form-group">
	<label asp-for="Form.Title" class="control-label disabled"></label>
	<input asp-for="Form.Title" class="form-control" readonly />
</div>
<hr />

<p>
	<a class="btn btn-primary" data-toggle="collapse" href="#Reviewer" role="button" aria-expanded="false" aria-controls="Reviewer">Formularz Recenzenta</a>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Guardian" aria-expanded="false" aria-controls="Guardian">Formularz Opiekuna</button>
</p>
<div class="collapse multi-collapse" id="Reviewer">
	<form asp-controller="Form" asp-action="UpdateForm" method="post" class="form-horizontal" role="form">
		<div class="form-group col-md-12">
			<label asp-for="Form.Questions.Question1" class="control-label">Mail Recenzenta</label>
			<input asp-for="Form.ReviewerName" class="form-control" readonly>
		</div>
		<div class="col-lg-8 col-lg-offset-2">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>I. Ocena Koncepcji Pracy</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">@Model.QuestionList.Question1</td>
						<td><input type="number" asp-for="Form.Questions.Question1" class="form-control" readonly /></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question2</td>
						<td><input type="number" asp-for="Form.Questions.Question2" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left" colspan="1">@Model.QuestionList.Question3</td>
						<td><input type="number" asp-for="Form.Questions.Question3" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question4</td>
						<td><input type="number" asp-for="Form.Questions.Question4" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question5</td>
						<td><input type="number" asp-for="Form.Questions.Question5" class="form-control" readonly/></td>
					</tr>
				</tbody>
				<tfoot>
				<td class="text-right">Suma (Max 40 pkt.):</td>
				<td class="text-right"><p id="suma1">@Model.Sum.Sum1</p> </td>
				</tfoot>
			</table>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>II. Ocena Źródeł Informacji</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">@Model.QuestionList.Question6</td>
						<td><input type="number" asp-for="Form.Questions.Question6" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question7</td>
						<td><input type="number" asp-for="Form.Questions.Question7" class="form-control" readonly/></td>
					</tr>
				</tbody>
				<tfoot>
				<td class="text-right">Suma (Max 35 pkt.):</td>
				<td class="text-right"><p id="suma2">@Model.Sum.Sum2</p> </td>
				</tfoot>
			</table>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>III. Ocena Redakcji Pracy</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">@Model.QuestionList.Question8</td>
						<td><input type="number" asp-for="Form.Questions.Question8" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question9</td>
						<td><input type="number" asp-for="Form.Questions.Question9" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question0</td>
						<td><input type="number" asp-for="Form.Questions.Question0" class="form-control" readonly/></td>
					</tr>
				</tbody>
				<tfoot>
				<td class="text-right">Suma (Max 20 pkt.):</td>
				<td class="text-right"><p id="suma3">@Model.Sum.Sum3</p></td>
				</tfoot>
			</table>

			<div class="col-lg-6 col-lg-offset-6">
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Suma punktów I - III</th>
							<th><p id="sumaFinal">@Model.Sum.SumFinal</p></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>100-95</td>
							<td>Cel</td>
						</tr>
					<td>94-88</td>
					<td>Bdb</td>
					</tr>
					<tr>
						<td>87-81</td>
						<td>Db pl</td>
					</tr>
					<tr>
						<td>80-67</td>
						<td>Db</td>
					</tr>
					<tr>
						<td>66-61</td>
						<td>Dst pl</td>
					</tr>
					<tr>
						<td>60-51</td>
						<td>Dst</td>
					</tr>
					<tr>
						<td>50-0</td>
						<td>Nd</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.LongReview" class="control-label">IV. Uzasadnienie i inne uwagi oceniające pracę</label>
				<textarea asp-for="Form.Questions.LongReview" class="form-control" readonly></textarea>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Grade" class="control-label">V. Ocena Końcowa ( cel, bdb, db pl, db, dst pl, dst, nd )</label>
				<input asp-for="Form.Questions.Grade" class="form-control" readonly>
			</div>
		</div>
	</form>
</div>

<div class="collapse multi-collapse" id="Guardian">
	<hr  />
	<div class="form-group col-lg-12">
		<label asp-for="Form.Questions.Question1" class="control-label">Mail Opiekuna</label>
		<input asp-for="Form.GuardianName" class="form-control" readonly>
	</div>
	<form asp-controller="Form" asp-action="UpdateForm" method="post" class="form-horizontal" role="form">
		<div class="col-lg-8 col-lg-offset-2">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>I. Ocena Koncepcji Pracy</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">@Model.QuestionList.Question1</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question1" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question2</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question2" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left" colspan="1">@Model.QuestionList.Question3</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question3" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question4</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question4" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question5</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question5" class="form-control" readonly/></td>
					</tr>
				</tbody>
				<tfoot>
				<td class="text-right">Suma (Max 40 pkt.):</td>
				<td class="text-right"><p id="suma1">@Model.SumGuardian.Sum1</p> </td>
				</tfoot>
			</table>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>II. Ocena Źródeł Informacji</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">@Model.QuestionList.Question6</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question6" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question7</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question7" class="form-control" readonly/></td>
					</tr>
				</tbody>
				<tfoot>
				<td class="text-right">Suma (Max 35 pkt.):</td>
				<td class="text-right"><p id="suma2">@Model.SumGuardian.Sum2</p> </td>
				</tfoot>
			</table>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>III. Ocena Redakcji Pracy</th>
						<th>Ocena</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-left">@Model.QuestionList.Question8</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question8" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question9</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question9" class="form-control" readonly/></td>
					</tr>
					<tr>
						<td class="text-left">@Model.QuestionList.Question0</td>
						<td><input type="number" asp-for="Form.QuestionsGuardian.Question0" class="form-control" readonly/></td>
					</tr>
				</tbody>
				<tfoot>
				<td class="text-right">Suma (Max 20 pkt.):</td>
				<td class="text-right"><p id="suma3">@Model.SumGuardian.Sum3</p></td>
				</tfoot>
			</table>

			<div class="col-lg-6 col-lg-offset-6">
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Suma punktów I - III</th>
							<th><p id="sumaFinal">@Model.SumGuardian.SumFinal</p></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>100-95</td>
							<td>Cel</td>
						</tr>
					<td>94-88</td>
					<td>Bdb</td>
					</tr>
					<tr>
						<td>87-81</td>
						<td>Db pl</td>
					</tr>
					<tr>
						<td>80-67</td>
						<td>Db</td>
					</tr>
					<tr>
						<td>66-61</td>
						<td>Dst pl</td>
					</tr>
					<tr>
						<td>60-51</td>
						<td>Dst</td>
					</tr>
					<tr>
						<td>50-0</td>
						<td>Nd</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="form-group">
				<label asp-for="Form.QuestionsGuardian.LongReview" class="control-label">IV. Uzasadnienie i inne uwagi oceniające pracę</label>
				<textarea asp-for="Form.QuestionsGuardian.LongReview" class="form-control" readonly></textarea>
			</div>
			<div class="form-group">
				<label asp-for="Form.QuestionsGuardian.Grade" class="control-label">V. Ocena Końcowa ( cel, bdb, db pl, db, dst pl, dst, nd )</label>
				<input asp-for="Form.QuestionsGuardian.Grade" class="form-control" readonly>
			</div>
		</div>
	</form>
</div>
