@model FormDetailViewModel
@{
	ViewData["Title"] = "Edycja";
}

<div class="row">
	<div class="col-md-12">
		<form asp-controller="Form" method="post" class="form-horizontal" role="form">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Form.FormId" />
			<div class="form-group">
				<label asp-for="Form.FormURL" class="control-label disabled"></label>
				<input asp-for="Form.FormURL" class="form-control" readonly />
				<span asp-validation-for="Form.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.Title" class="control-label disabled"></label>
				<input asp-for="Form.Title" class="form-control" readonly />
				<span asp-validation-for="Form.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.ShortDescription" class="control-label disabled"></label>
				<textarea asp-for="Form.ShortDescription" class="form-control" readonly></textarea>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Question1" class="control-label">@Model.QuestionList.Question1</label>
				<textarea asp-for="Form.Questions.Question1" class="form-control" id="q1" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question1" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Question2" class="control-label">@Model.QuestionList.Question2</label>
				<textarea asp-for="Form.Questions.Question2" class="form-control" id="q2" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question2" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Question3" class="control-label">@Model.QuestionList.Question3</label>
				<textarea asp-for="Form.Questions.Question3" class="form-control" id="q3" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question3" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Question4" class="control-label">@Model.QuestionList.Question4</label>
				<textarea asp-for="Form.Questions.Question4" class="form-control" id="q4" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question4" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Question5" class="control-label">@Model.QuestionList.Question5</label>
				<textarea asp-for="Form.Questions.Question5" class="form-control" id="q5" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question5" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Form.Questions.Question6" class="control-label">@Model.QuestionList.Question6</label>
				<textarea asp-for="Form.Questions.Question6" class="form-control" id="q6" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question6" class="text-danger"></span>
			</div><div class="form-group">
				<label asp-for="Form.Questions.Question7" class="control-label">@Model.QuestionList.Question7</label>
				<textarea asp-for="Form.Questions.Question7" class="form-control" id="q7" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question7" class="text-danger"></span>
			</div><div class="form-group">
				<label asp-for="Form.Questions.Question8" class="control-label">@Model.QuestionList.Question8</label>
				<textarea asp-for="Form.Questions.Question8" class="form-control" id="q8" readonly></textarea>
				<span asp-validation-for="Form.Questions.Question8" class="text-danger"></span>
			</div>
			@if (!Model.Form.Questions.Finished)
			{
				<div class="form-group">
					<input type="submit" value="Zapisz" class="btn btn-info" asp-action="UpdateForm" onclick="return confirm('Czy na pewno zaaktualizować oceny?')" />
					@Html.ActionLink("Cofnij", "Index", "List", null, new { @class = "btn btn-primary btn-large" })

				</div>
				<div class="form-group pull-right">
					<input type="submit" value="Zakończ" class="btn btn-success" asp-action="FinishForm" onclick="return confirm('Czy na pewno zakończyć ocenianie?\nZakończenie oceny uniemożliwi jej ponowną edycję.')" />
				</div>
			}
		</form>
	</div>
</div>




@if (!Model.Form.Questions.Finished)
{
	<script>
		readygo();
		function readygo() {
			document.getElementById("q1").readOnly = false;
			document.getElementById("q2").readOnly = false;
			document.getElementById("q3").readOnly = false;
			document.getElementById("q4").readOnly = false;
			document.getElementById("q5").readOnly = false;
			document.getElementById("q6").readOnly = false;
			document.getElementById("q7").readOnly = false;
			document.getElementById("q8").readOnly = false;
		}
	</script>
}